$navbar-font: #df4642
$signed-font: black
$gre-bg: #f6f6f6

*
	margin: 0
	padding: 0

html, body
	font-size: 16px
	box-sizing: border-box
	width: 100%
	height: 100% //for iframe

body
	background: white

input	
	outline: none

//navbar
.container-pushin
	padding: 1em 1.5em

.header-Navbar
	max-height: 60px
	background: white
	color: $signed-font
	display: flex
	-webkit-display: flex
	flex-direction: row
	justify-content: space-between
	align-items: baseline
	border-bottom: 1px solid #f3f3f3
	
	&-profile
		display: inline-block
		font-weight: 500
	&-toggle
		background: transparent
		color: $navbar-font
		text-transform: uppercase
		border: none
		font-size: inherit
	&-logo
		background: url(https://lycworks.me/img/front5.png) no-repeat
		background-size: contain
		background-position: 100%
		width: 12%

		&-link
			display: inline-block
			color: $navbar-font
			font-size: larger
			font-weight: 700
			::hover, ::active
				color: $navbar-font
	
.btn-custom
	//@extend .btn|optional
	font-weight: 500

.search
	display: none
	margin: 0 auto
	width: 85%

//searchbar
.search-bar
	background: white
	width: 100%
	display: flex
	-webkit-display: flex
	> input
		margin: 0 0.5em
		border: none
	&-field
		background: $gre-bg
		padding: 1em
		height: 50%
		&-btn
			background: $navbar-font
			color: white
			font-size: large
			font-weight: 500
			width: 30%
			padding: 1.2em 1em
			display: inline-block
			line-height: 0
			cursor: pointer

//search result
.search-result
	margin-top: 15px
	background: $gre-bg
	width: 100%
	&-error
		text-align: center
		height: 100vh
		font-size: larger
		font-weight: 500
		

.search-result-group
	width: 85%
	padding: 1em 1.5em
	margin: 0 auto

.search-result-group-item
	list-style: none
	background: white
	border: 1px solid $gre-bg

.item-content
	display: flex
	flex-wrap: nowrap
	flex-direction: row-reverse
	align-items: flex-start
	width: 100%
	&-video-link
		width: 25%

.item-content-video-link img 
	width: 100%
	height: auto

.item-content-desc
	width: 75%
	margin-left: 1em
	&-name
		font-size: large
		clear: both
	&-description
		font-size: small

.outer-container
	width: 100%
	height: inherit
	display: flex
	flex-direction: column
	position: fixed
	overflow: hidden //double guarantee


.inner-container
	height: 84%
	position: relative

#youtube_container
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0

//comment
.comment-container
	height: 17%	
	padding: 0.5em 0
	background: white

.comment 
	padding: 0 1.5em
	display: flex
	width: 100%
	flex-direction: row
	&-field
		@extend .search-bar-field
		height: 0
		width: 70%
	&-btn
		@extend .search-bar-field-btn
		padding: 0em 1em
		margin: 0 0.5em
		border: none
		border-radius: 2px
		background: #4b73ec

.footer
	background: $navbar-font
	height: 60px
	position: relative
